[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isocountry"]
	path = isocountry
	url = https://github.com/m-muecke/isocountry
