[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bbk"]
	path = bbk
	url = https://github.com/m-muecke/bbk
[submodule "ifo"]
	path = ifo
	url = https://github.com/m-muecke/ifo
[submodule "isocountry"]
	path = isocountry
	url = https://github.com/m-muecke/isocountry
[submodule "treasury"]
	path = treasury
	url = https://github.com/m-muecke/treasury
[submodule "worldbank"]
	path = worldbank
	url = https://github.com/m-muecke/worldbank
